@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


header{
    background-color: rgba(51, 51, 51, 1);
    position: absolute;
    width: 1920px;
    height: 100px;
    left: -20px;
    top: 0px;  
    text-decoration: inherit; 
}


.logotipo{
    margin-left: 25px;
}


body{
    background-color: rgba(17, 17, 17, 1);
}


.menu{
    position: absolute;
    width: 251.48px;
    height: 42px;
    left: 499.93px;
    top: 38px;
}
.menu a{
    margin: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s linear;
}
.menu a:hover{
    color: rgb(85, 85, 85);
}
.icone-sanduiche{
    display: none;
}

.lista-de-desejos{
    position: absolute;
    width: 131.73px;
    height: 21px;
    left: 1507.85px;
    top: 38px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    transition: color 0.3s linear;


    color: #FFFFFF;
}
.lista-de-desejos:hover{
    color: rgb(85, 85, 85);
}


.carrinho{
    position: absolute;
    width: 68.86px;
    height: 21px;
    left: 1664.53px;
    top: 38px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    transition: color 0.3s linear;


    color: #FFFFFF;
}
.carrinho:hover{
    color: rgb(85, 85, 85);
}


.conta{
    position: absolute;
    width: 65px;
    height: 60px;
    left: 1810px;
    top: 9px;    

    color: #FFFFFF;
}
.conta a{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s linear;
}
.conta a:hover{
    color: rgb(85, 85, 85);
}


.criar{
    margin-right: 5px;
}
.criar2{
    margin-left: 5px;
}

.banner{
    position: absolute;
    width: 1535px;
    height: 703px;
    left: 198px;
    top: 124px;
}
.banner img{
    max-width: 1500px;
    max-height: 703px;
    min-width: 1500px;
}
.texto-banner{
    position: absolute;
    width: 86px;
    height: 21px;
    left: 725px;
    top: 1px;
    font-size: xx-large;
    line-height: 21px;
}


.jogos-novos{
    position: absolute;
    width: 1532px;
    height: 531px;
    left: 198px;
    top: 885px;
}
.jogos-novos h1{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.jogos-novos a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s linear;
}
.jogos-novos a:hover{
    color: rgb(85, 85, 85);
}


.guardioes-da-galaxia{
    display: inline-block;
    width: 350px;
    height: 459.35px;
    left: 237px;
    top: 949px;
    color: #FFFFFF;
}
.guardioes-da-galaxia span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.guardioes-da-galaxia strike{
    padding: 10px;
}
.guardioes-da-galaxia img{
    width: 299px;
    height: 398px;
    left: 237px;
    top: 949px;
}
.guardioes-da-galaxia p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.far-cry-6{
    display: inline-block;
    width: 305px;
    height: 467px;
    left: 638px;
    top: 949px;
    color: #FFFFFF;
}
.far-cry-6 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.far-cry-6 strike{
    padding: 10px;
}
.far-cry-6 img{
    width: 276px;
    height: 398px;
    left: 638px;
    top: 949px;
}
.far-cry-6 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.assassins-creed-valhalla{
    display: inline-block;
    width: 350px;
    height: 467px;
    left: 1016px;
    top: 943px;
    color: #FFFFFF;
}
.assassins-creed-valhalla span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.assassins-creed-valhalla strike{
    padding: 10px;
}
.assassins-creed-valhalla img{
    width: 305px;
    height: 398px;
    left: 1016px;
    top: 943px;
}
.assassins-creed-valhalla p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.the-witcher-3{
    display: inline-block;
    width: 307px;
    height: 459px;
    left: 1423px;
    top: 949px;
    color: #FFFFFF;
}
.the-witcher-3 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.the-witcher-3 strike{
    padding: 10px;
}
.the-witcher-3 img{
    width: 307px;
    height: 398px;
    left: 1423px;
    top: 949px;
}
.the-witcher-3 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.jogos-em-promoção{
    position: absolute;
    width: 1535px;
    height: 520px;
    left: 203px;
    top: 1617px;
}
.jogos-em-promoção h1{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.jogos-em-promoção a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s linear;
}
.jogos-em-promoção a:hover{
    color: rgb(85, 85, 85);
}


.back-blood4{
    display: inline-block;
    color: #FFFFFF;
}
.back-blood4 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.back-blood4 strike{
    padding: 10px;
}
.back-blood4 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.kena{
    display: inline-block;
    color: #FFFFFF;
}
.kena span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.kena strike{
    padding: 10px;
}
.kena p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.red-dead-redemption-2{
    display: inline-block;
    color: #FFFFFF;
}
.red-dead-redemption-2 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.red-dead-redemption-2 strike{
    padding: 10px;
}
.red-dead-redemption-2 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.riders-republic{
    display: inline-block;
    color: #FFFFFF;
}
.riders-republic span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.riders-republic strike{
    padding: 10px;
}
.riders-republic p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.darkest-dungeon{
    display: inline-block;
    color: #FFFFFF;
}
.darkest-dungeon span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.darkest-dungeon strike{
    padding: 10px;
}
.darkest-dungeon p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}


footer{
    position: absolute;
    width: 1900px;
    height: 266px;
    left: 0px;
    top: 2266px;
    background-color: rgba(51, 51, 51, 1);
}


.navegação{
    position: absolute;
    width: 189px;
    height: 214px;
    left: 50px;
    
}
.navegação a,h2,li{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s linear;
}
.navegação a:hover{
    color: rgb(85, 85, 85);
}


.formas-de-pagamento{
    position: absolute;
    width: 553px;
    height: 219px;
    left: 380px;
    
    color: #FFFFFF;
}


.contato{
    position: absolute;
    width: 298px;
    height: 140px;
    left: 1150px;
    
    font-size: 20px;
    color: #FFFFFF;
}


.rede-sociais{
    position: absolute;
    width: 345px;
    height: 117px;
    left: 1550px;
    
    color: #FFFFFF;
}


.logo{
    position: absolute;
    width: 325px;
    height: 124px;
    left: 1550px;
    top: 140px;
}