@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(51, 51, 51, 1);
    position: absolute;
    width: 1920px;
    height: 100px; 
    text-decoration: inherit; 
}


.logotipo{
    margin-left: 25px;
}

.pesquisa{
    background-color: rgba(51, 51, 51, 1);
    text-align: center;
    position: absolute;
    width: 227.47px;
    height: 57px;
    left: 208.49px;
    top: 19px;
    border-radius: 20px;
}

body{
    background-color: rgba(17, 17, 17, 1);
    font-family: 'Roboto',sans-serif;
}


.menu{
    position: absolute;
    height: 42px;
    left: 499.93px;
    top: 38px;
}
.menu a{
    margin: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s linear;
}
.menu a:hover{
    color: rgb(85, 85, 85);
}
.icone-sanduiche{
    display: none;
}

.lista-de-desejos{
    position: absolute;
    width: 131.73px;
    height: 21px;
    left: 1507.85px;
    top: 38px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    transition: color 0.3s linear;


    color: #FFFFFF;
}
.lista-de-desejos:hover{
    color: rgb(85, 85, 85);
}


.carrinho{
    position: absolute;
    width: 68.86px;
    height: 21px;
    left: 1664.53px;
    top: 38px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    transition: color 0.3s linear;


    color: #FFFFFF;
}
.carrinho:hover{
    color: rgb(85, 85, 85);
}

.carrinho img{
    display: none;
}

.conta{
    position: absolute;
    width: 65px;
    height: 60px;
    left: 1785px;
    top: 9px;    

    color: #FFFFFF;
}
.conta a{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s linear;
}
.conta a:hover{
    color: rgb(85, 85, 85);
}


.criar{
    margin-right: 5px;
}
.criar2{
    margin-left: 5px;
}

.banner{
    position: absolute;
    left: 198px;
    top: 124px;
}
.banner img{
    width: 1500px;
    height: 703px;
}
.texto-banner{
    position: absolute;
    width: 86px;
    height: 21px;
    left: 725px;
    top: 15px;
    font-size: xx-large;
    line-height: 21px;
}


.jogos-novos{
    position: absolute;
    width: 1532px;
    height: 531px;
    left: 198px;
    top: 885px;
}
.jogos-novos h1{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.jogos-novos a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s linear;
}
.jogos-novos a:hover{
    color: rgb(85, 85, 85);
}


.guardioes-da-galaxia{
    display: inline-block;
    width: 350px;
    height: 459.35px;
    left: 237px;
    top: 949px;
    color: #FFFFFF;
}
.guardioes-da-galaxia span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.guardioes-da-galaxia strike{
    padding: 10px;
}
.guardioes-da-galaxia img{
    width: 299px;
    height: 398px;
    left: 237px;
    top: 949px;
}
.guardioes-da-galaxia p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.far-cry-6{
    display: inline-block;
    width: 305px;
    height: 467px;
    left: 638px;
    top: 949px;
    color: #FFFFFF;
}
.far-cry-6 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.far-cry-6 strike{
    padding: 10px;
}
.far-cry-6 img{
    width: 276px;
    height: 398px;
    left: 638px;
    top: 949px;
}
.far-cry-6 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.assassins-creed-valhalla{
    display: inline-block;
    width: 350px;
    height: 467px;
    left: 1016px;
    top: 943px;
    color: #FFFFFF;
}
.assassins-creed-valhalla span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.assassins-creed-valhalla strike{
    padding: 10px;
}
.assassins-creed-valhalla img{
    width: 305px;
    height: 398px;
    left: 1016px;
    top: 943px;
}
.assassins-creed-valhalla p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.the-witcher-3{
    display: inline-block;
    width: 307px;
    height: 459px;
    left: 1423px;
    top: 949px;
    color: #FFFFFF;
}
.the-witcher-3 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.the-witcher-3 strike{
    padding: 10px;
}
.the-witcher-3 img{
    width: 307px;
    height: 398px;
    left: 1423px;
    top: 949px;
}
.the-witcher-3 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.jogos-em-promoção{
    position: absolute;
    width: 1535px;
    height: 520px;
    left: 203px;
    top: 1617px;
}
.jogos-em-promoção h1{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.jogos-em-promoção a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color 0.3s linear;
}
.jogos-em-promoção a:hover{
    color: rgb(85, 85, 85);
}


.back-blood4{
    display: inline-block;
    color: #FFFFFF;
}
.back-blood4 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.back-blood4 strike{
    padding: 10px;
}
.back-blood4 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.kena{
    display: inline-block;
    color: #FFFFFF;
}
.kena span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.kena strike{
    padding: 10px;
}
.kena p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.red-dead-redemption-2{
    display: inline-block;
    color: #FFFFFF;
}
.red-dead-redemption-2 span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.red-dead-redemption-2 strike{
    padding: 10px;
}
.red-dead-redemption-2 p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.riders-republic{
    display: inline-block;
    color: #FFFFFF;
}
.riders-republic span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.riders-republic strike{
    padding: 10px;
}
.riders-republic p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}



.darkest-dungeon{
    display: inline-block;
    color: #FFFFFF;
}
.darkest-dungeon span{
    background-color: rgba(0, 116, 240, 1);
    border-radius: 3px;
    padding: 5px;
}
.darkest-dungeon strike{
    padding: 10px;
}
.darkest-dungeon p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}


footer{
    position: absolute;
    width: 1920px;
    height: 249px;
    left: 0px;
    top: 2266px;
    background-color: rgba(51, 51, 51, 1);
}


.navegação{
    position: absolute;
    width: 189px;
    height: 214px;
    left: 50px;
    top: 15px;
}
.navegação a,h2,li{
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s linear;
}
.navegação a:hover{
    color: rgb(85, 85, 85);
}


.formas-de-pagamento{
    position: absolute;
    width: 553px;
    height: 219px;
    left: 380px;
    top: 15px;
    
    color: #FFFFFF;
}


.contato{
    position: absolute;
    width: 298px;
    height: 140px;
    left: 1150px;
    top: 15px;
    
    font-size: 20px;
    color: #FFFFFF;
}


.rede-sociais{
    position: absolute;
    width: 345px;
    height: 117px;
    left: 1550px;
    top: 15px;
    
    color: #FFFFFF;
}


.logo{
    position: absolute;
    width: 30px;
    height: 124px;
    left: 1600px;
    top: 125px;
}

.menu button{
    display: none;
    background-color: rgba(51, 51, 51, 1);
    color: white;
}

@media screen and (max-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    *{
        margin: 0px;
        padding: 0px;
    }

    header{
        background-color: rgba(51, 51, 51, 1);
        position: absolute;
        width: 768px;
        height: 94px;
    }

    .icone-sanduiche{
        display: block;
        position: absolute;
        width: 70px;
        height: 32px;
        left: 13px;
        top: 10px;
    }

    .menu button{
        display: block;
        width: 70px;
        font-size: 18px;
        top: 20px;
    }

    .menu{
        position: absolute;
        top: 50px;
        left: 26px;
        width: 50px;
        font-size: 18px;
    }
    .menu a{
        background-color:darkcyan;
    }

    .logotipo{
        position: absolute;
        width: 148px;
        height: 94px;
        left: 310px;
    }

    .pesquisa{
        background-color: rgba(51, 51, 51, 1);
        color: #FFFFFF;
        text-align: center;
        position: absolute;
        width: 157px;
        height: 42px;
        left: 125px;
        top: 26px;
        border-radius: 20px;
    }

    nav{
        display: none;
    }

    .carrinho img{
        display: block;
    }
    .carrinho{
        position: absolute;
        width: 68.86px;
        height: 69px;
        left: 550px;
        top: 18px;
    }

    .lista-de-desejos{
        display: none;
    }

    .conta{
        position: absolute;
        width: 103.79px;
        height: 80px;
        left: 657px;
        top: 7px;
    }

    .banner img{
        width: 750px;
        height: 356px;
    }
    .banner{
        position: absolute;
        left: 10px;
        top: 142px;
    }
    .texto-banner{
        position: absolute;
        width: 86px;
        height: 21px;
        left: 350px;
        top: 15px;

        font-size: xx-large;
        line-height: 21px;
    }
    
    .jogos-novos{
        position: absolute;
        width: 748px;
        height: 224px;
        left: 65px;
        top: 522px;
    }

    .guardioes-da-galaxia,.far-cry-6{
        width: 350px;
    }

    .the-witcher-3,.assassins-creed-valhalla{
        display: none;
    }

    .jogos-em-promoção{
        position: absolute;
        width: 748px;
        height: 279px;
        left: 65px;
        top: 1100px;
    }

    .back-blood4,.kena{
        width: 350px;
    }


    .darkest-dungeon,.red-dead-redemption-2,.riders-republic{
        display: none;
    }

    footer{
        position: absolute;
        width: 768px;
        height: 238px;
        top: 1600px;
        background-color: rgba(51, 51, 51, 1);
    }

    .navegação{
        position: absolute;
        width: 290px;
        height: 220px;
        left: 50px;
    }
    .navegação li{
        font-size: x-large;
    }

    .formas-de-pagamento{
        display: none;
    }

    .contato{
        position: absolute;
        width: 320px;
        height: 135px;
        left: 245px;
    }
    .contato p{
        padding: 15px;
        font-size: x-large;
    }

    .rede-sociais img{
        width:  50px;
    }
    .rede-sociais{
        position: absolute;
        width: 350px;
        height: 82px;
        left: 550px;
    }

    .logo{
        position: absolute;
        width: 198px;
        height: 52px;
        left: 575px;
        top: 128px;
    }
}

@media screen and (max-width: 320px){
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    *{
        margin: 0px;
        padding: 0px;
    }

    header{
        position: absolute;
        width: 320px;
        height: 94px;
    }

    .icone-sanduiche{
        display: block;
        position: absolute;
        width: 50px;
        height: 35px;
        left: 130px;
        top: 15px;
    }

    .menu button{
        display: block;
        width: 70px;
        left: auto;
        font-size: 18px;
        margin-top: 16px;
    }

    .menu{
        position: absolute;
        top: 50px;
        left: 230px;
        font-size: 15px;    
    }
    .menu a{
        background-color:darkcyan;
    }

    .logotipo{
        position: absolute;
        width: 100px;
        height: 59px;
        left: -25px;
        top: 20px;
    }

    .pesquisa{
        position: absolute;
        width: 124px;
        height: 31px;
        left: 114px;
        top: 30px;
    }

    nav{
        display: none;
    }

    .carrinho{
        display: none;
    }
    .conta{
        display: none;
    }

    .lista-de-desejos{
        display: none;
    }

    .banner img{
        position: absolute;
        width: 320px;
        height: 180px;
        left: -10px;
        opacity: 0.3;
    }
    .texto-banner{
        position: absolute;
        width: 275px;
        height: 51px;
        left: 120px;
        top: 75px;
        font-size: larger;
        color: #FFFFFF;  
    }
    .jogos-novos{
        position: absolute;
        width: 185px;
        height: 239px;
        left: 15px;
        top: 375px;
    }

    .guardioes-da-galaxia{
        width: 300px;
    }

    .the-witcher-3,.assassins-creed-valhalla,.far-cry-6{
        display: none;
    }

    .jogos-em-promoção{
        position: absolute;
        width: 500px;
        height: 279px;
        left: 32px;
        top: 900px;
    }

    .back-blood4{
        width: 350px;
    }


    .darkest-dungeon,.red-dead-redemption-2,.riders-republic,.kena{
        display: none;
    }

    footer{
        position: absolute;
        width: 320px;
        height: 764px;
        top: 1405px;
        background-color: rgba(51, 51, 51, 1);
    }

    .navegação{
        position: absolute;
        width: 290px;
        height: 220px;
        left: 50px;
    }
    .navegação li{
        font-size: x-large;
    }

    .formas-de-pagamento{
        display: none;
    }

    .contato{
        position: absolute;
        width: 320px;
        height: 135px;
        left: 25px;
        top: 275px;
    }
    .contato p{
        padding: 15px;
        font-size: x-large;
    }

    .rede-sociais img{
        width:  50px;
    }
    .rede-sociais{
        position: absolute;
        width: 350px;
        height: 82px;
        left: 30px;
        top: 475px;
    }

    .logo{
        position: absolute;
        width: 198px;
        height: 52px;
        left: 80px;
        top: 625px;
    }
}